@using MPL.MVC;
@using ABCAPOS.Models;
@using ABCAPOS.Util;
@model ApplyBillCreditModel
@{
    var mode = (UIMode)ViewBag.Mode;
    ViewBag.ErrorMessage = "";

    var formFields = new List<IFormField>()
    {
        Html.HiddenFieldFieldObjFor(p=>p.ID,""),
        Html.HiddenFieldFieldObjFor(p=>p.VendorID,""),
        Html.HiddenFieldFieldObjFor(p=>p.CurrencyID, ""),
        Html.HiddenFieldFieldObjFor(p=>p.BillCreditID,""),
        Html.HiddenFieldFieldObjFor(p=>p.CeilingAmount, ""),
        
        Html.LabelFieldObjFor(p=>p.BillCreditID,"", delegate(FormField f){
            f.CreateFieldType = f.UpdateFieldType = f.DetailFieldType = FormFieldType.HiddenField;
        }),
        
        Html.FullRowFormFieldObj("<br /><b>Primary Information</b><br/>","<br /><b>Primary Information</b><br/>","<br /><b>Primary Information</b><br/>"),

        Html.LabelFieldObjFor(p=>p.Code,"REFERENCE NO.", delegate(FormField f){
                f.UpdateFieldType = FormFieldType.Label;
                f.GenerateHiddenField = true;
            }),
        Html.DateFieldObjFor(p=>p.Date,"DATE", delegate(FormField f){
                f.DetailFormat = "MM/dd/yyyy";
                f.CreateFormat = f.UpdateFormat = "MM/dd/yyyy";
                f.Style = "width:300px";
            }),
        
        Html.LabelFieldObjFor(p=>p.VendorName,"VENDOR", delegate(FormField f){
                f.Style = "width:300px";
        }), 
        
        Html.LabelFieldObjFor(p=>p.CurrencyName,"CURRENCY", delegate(FormField f){
        }),
        
        Html.DecimalFieldObjFor(p=>p.ExchangeRate,"EXCHANGE RATE", delegate(FormField f){
            f.Attributes = " readonly";
        }),
        
        Html.LabelFieldObjFor(p=>p.BillCreditCode,"CREATED FROM", delegate(FormField f){
        }),
        
        Html.TextBoxFieldObjFor(p=>p.Title,"MEMO", delegate(FormField f){
                f.Style = "width:300px";
        }),
        
        Html.TextBoxFieldObjFor(p=>p.CreditRemaining,"TOTAL UNAPPLIED", delegate(FormField f){
                f.Style = "width:300px";
                f.CreateFormat = f.UpdateFormat = "N2";
                f.DetailFieldType = FormFieldType.None;
                f.Attributes = " readonly";
        }),
        
        Html.LabelFieldObjFor(p=>p.VoidRemarks,"VOID REMARKS", delegate(FormField f)
        {
            f.CreateFieldType = f.UpdateFieldType = FormFieldType.None;
            
            if(string.IsNullOrEmpty(Model.VoidRemarks))
            {
                f.DetailFieldType = FormFieldType.None;
            }
        }),
    };

    var gridColumns = new List<GridColumn>()
    {
        Html.HiddenFieldColumn("PurchaseBillID"),
        
        Html.LabelColumn("PurchaseBillID", "","",delegate(GridColumn col){
            col.CreateColumnType = col.DetailColumnType = col.UpdateColumnType = GridColumnType.HiddenField;
        }),
        
        
        //Html.TextBoxColumn("Code","Bill Code","110px",delegate(GridColumn col){
        //    col.InitAutoCompleteFunctionName = "initProductAutoComplete";
        //}),
        Html.LabelColumn("Code", "BILL CODE","100px",delegate(GridColumn col){

        }),
        
        Html.LabelColumn("DueDate", "DUE DATE","100px",delegate(GridColumn col){
            col.CreateFormat = col.DetailFormat = col.UpdateFormat = "MM/dd/yyyy";
            col.ItemAttributes = " readonly";
        }),
        
        Html.LabelColumn("OriginalAmount", "ORIGINAL AMOUNT","100px",delegate(GridColumn col){
            col.DetailFormat = "N2";
            col.CreateFormat = col.UpdateFormat = "N2";
            col.ItemAttributes = " readonly";
        }),
        
        Html.LabelColumn("AmountDue", "AMOUNT DUE","100px",delegate(GridColumn col){
            col.DetailFormat = "N2";
            col.CreateFormat = col.UpdateFormat = "N2";
            col.ItemAttributes = " readonly";
        }),
        
        Html.DecimalColumn("Amount", "APPLY CREDIT", "100px",delegate(GridColumn col){
            col.ItemAttributes = " onblur=\"calculateCredit($(this).parent().parent().index())\" ";
            col.DetailFormat = "N2";
            col.CreateFormat = col.UpdateFormat = "F0";
            col.GenerateHiddenField = true;
        }),

        Html.TextBoxColumn("Remarks", "REMARKS", "100px",delegate(GridColumn col){
            col.DetailColumnType = GridColumnType.Label;
        }),
    };


    var grid = new Grid();
    grid.IncludeAddRowScript = false;
    grid.IncludeDeleteRowButton = false;
    grid.DefaultObject = new ApplyBillCreditDetailModel();
    grid.Columns = gridColumns;
    grid.ShowFooter = true;
    grid.AllowSorting = false;

    var form = new Form();
    form.Fields = formFields;

    TabbedGrid tabbedGrid = new TabbedGrid();
}

<script type="text/javascript">
    $(document).ready(function () {
        window.initNumeric = function () {
            $(".decimalNumeric").numeric({
                decimal: "."
            });
            $(".decimalNumeric").focus(function () {
                var temp = $(this);
                setTimeout(function () {
                    temp.select();
                }, 100);
            });
            $(".integerNumeric").numeric(false, function () { this.value = ""; this.focus(); });
        }
        window.initDatePicker = function () {
            $("input.datepicker").datepicker({
                dateFormat: 'mm/dd/yy', showOn: 'both', buttonImage: '/Content/Icons/calendar.png',
                buttonImageOnly: true
            });
            $('img.ui-datepicker-trigger').css({ 'margin-left': '2px' });
        }

        var mode = $("#hdnMode").val();

        if (mode == "Detail" || mode == "Create") {
            var soID = $("#hdnBillCreditID").val();
            var soCode = $("#lblBillCreditCode").text();

            var soLink = "/BillCredit/Detail?key=" + soID;
            $("#lblBillCreditCode").replaceWith('<a href="' + soLink + '">' + soCode + '</a>');
        }

    });
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Transaction/VendorReturn.js")"></script>
<input type="hidden" id="hdnMode" value="@mode" />
@Html.AutoCompleteScript("initVendorAutoComplete", "txtVendorName", Url.Content("~/WebService.asmx/RetrieveVendorByKey"), "",
                Url.Content("~/WebService.asmx/RetrieveVendor"), "vendorName", "Code", "Name", "onSelectVendor", 50, 500)
@Html.AutoCompleteScript("initEmployeeAutoComplete", "txtEmployeeName", Url.Content("~/WebService.asmx/RetrieveEmployeeByKey"), "",
                Url.Content("~/WebService.asmx/RetrieveEmployee"), "employeeName", "Name", "RoleDescription", "onSelectEmployee", 50, 500)
@Html.MasterDetailForm(form, grid, Model, Model.Details, mode, "ApplyBillCredit", "ID", delegate(MasterDetailFormHelper helper)
{
    helper.DetailGridTitle = "Item";
    helper.TabbedGrid = tabbedGrid;

    if (mode == UIMode.Detail)
    {
        helper.DetailGridTitle = "Item";

        helper.TabbedGrid = tabbedGrid;

        helper.VoidButton.Href = Url.Content("~/ApplyBillCredit/VoidRemarks?key=" + Model.ID + "&voidFromIndex=false");
        helper.VoidButton.OnClick = "";
        helper.VoidButton.ID = "btnVoid";

        helper.CreateAnotherButton.Visible = false;
        helper.CopyTransactionButton.Visible = false;

        if (!Convert.ToBoolean(ViewBag.AllowEdit))
        {
            helper.EditButton.Visible = helper.DeleteButton.Visible = helper.SubmitButton.Visible = helper.CancelSubmitButton.Visible = helper.ApproveButton.Visible = false;
        }
        else
        {
            helper.EditButton.Visible = mode == UIMode.Detail && Model.Status != (int)MPL.DocumentStatus.Void && Model.Status == (int)MPL.DocumentStatus.New;
            helper.ApproveButton.Visible = false;
            helper.DeleteButton.Visible = helper.SubmitButton.Visible = helper.CancelSubmitButton.Visible = false;
        }

        if (!Convert.ToBoolean(ViewBag.AllowVoid))
        {
            helper.VoidButton.Visible = false;
        }
        else
        {
            helper.VoidButton.Visible = mode == UIMode.Detail && Model.Status != (int)MPL.DocumentStatus.Void;
        }
    }
})
